In [117]:
import pandas as pd
import numpy as np
import os

In [5]:
os.getcwd()

'C:\\Users\\laisb\\Documents\\CS590 - prog'

In [7]:
os.chdir('C:\\Users\\laisb\\Documents\\CS590 - prog\\Week5 data')

In [14]:
peanut_lines = pd.read_csv('peanut_lines.csv', encoding='ISO-8859-1')

In [15]:
#Question 3
peanut_lines.head()

    NC_Accession Identity or Parentage Pedigree    FAG
0  ACI WT09-0761         ACI WT09-0761      NaN  Check
1  ACI WT11-0351         ACI WT11-0351      NaN  ol ol
2  ACI WT12-0226         ACI WT12-0226      NaN  ol ol
3  ACI WT12-0419         ACI WT12-0419      NaN  Check
4  ACI WT12-0420         ACI WT12-0420      NaN  ol ol

In [42]:
#Question 4
(peanut_lines.info()
 #466 lines

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 859 entries, 0 to 858
Data columns (total 4 columns):
NC_Accession             466 non-null object
Identity or Parentage    466 non-null object
Pedigree                 409 non-null object
FAG                      466 non-null object
dtypes: object(4)
memory usage: 26.9+ KB

In [100]:
print(peanut_lines['NC_Accession'].nunique())

463

In [57]:
#Question 5
peanut_yield = pd.read_table('peanut_yield.txt',encoding='ISO-8859-1')

C:\Users\laisb\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [59]:
peanut_yield.head()

,Year,Location,Name,Label,NC_Accession,Plot_Yield,Yield
0,2014,LEW,ATP,Advanced Testing Program - Yield,ACI WT09-0761,9.0,2733
1,2014,RMT,ATP,Advanced Testing Program - Yield,ACI WT09-0761,10.2,3085
2,2014,WHI,ATP,Advanced Testing Program - Yield,ACI WT09-0761,10.2,3085
3,2015,LEW,ATP,Advanced Testing Program - Yield,ACI WT11-0351,15.3,4632
4,2015,RMT,ATP,Advanced Testing Program - Yield,ACI WT11-0351,10.7,3226

In [61]:
#Question 6
peanut_yield.columns

Index(['Year', 'Location', 'Name', 'Label', 'NC_Accession', 'Plot_Yield',
       'Yield'],
      dtype='object')

In [65]:
#Question 7
peanut_data = pd.merge(peanut_lines,peanut_yield, on= 'NC_Accession')

In [67]:
peanut_data.head()

,NC_Accession,Identity or Parentage,Pedigree,FAG,Year,Location,Name,Label,Plot_Yield,Yield
0,ACI WT09-0761,ACI WT09-0761,NaN,Check,2014,LEW,ATP,Advanced Testing Program - Yield,9.0,2733
1,ACI WT09-0761,ACI WT09-0761,NaN,Check,2014,RMT,ATP,Advanced Testing Program - Yield,10.2,3085
2,ACI WT09-0761,ACI WT09-0761,NaN,Check,2014,WHI,ATP,Advanced Testing Program - Yield,10.2,3085
3,ACI WT11-0351,ACI WT11-0351,NaN,ol ol,2015,LEW,ATP,Advanced Testing Program - Yield,15.3,4632
4,ACI WT11-0351,ACI WT11-0351,NaN,ol ol,2015,RMT,ATP,Advanced Testing Program - Yield,10.7,3226

In [68]:
#Question 8
peanut_data.groupby('Year').mean()

      Plot_Yield        Yield
Year
2010    7.508470  2270.745902
2011   11.873512  3591.779762
2012   11.610753  3512.265233
2013   10.958824  3315.434641
2014   13.937624  4216.112211
2015   16.161500  4888.665000
2016   10.330000  3125.374074
2017   13.161333  3981.600000
2018   11.975667  3623.333333

In [ ]:
#mean of 2017 = 13.16 plot and 3981 Yield

In [78]:
#Question 9
peanut_yield_data = pd.DataFrame(peanut_data.groupby('NC_Accession').mean().sort_values(by="Yield", ascending=False))

In [89]:
peanut_yield_data[:10]['Yield']

NC_Accession
N17045      5483.666667
N15006      5250.000000
N15060      5209.500000
N15004      5197.000000
N15066      5190.500000
N15055      5129.500000
N14025      5095.000000
PD 14002    5082.500000
PD 14003    4959.000000
N15001      4954.000000
Name: Yield, dtype: float64

In [102]:
#Question 10
peanut_data['NC_Accession'].value_counts().head(n=10)

N11028        34
Sullivan      26
Bailey        26
Sugg          26
Emery         26
Wynne         26
Bailey II     20
Florida-07    20
N11020        20
N08085        18
Name: NC_Accession, dtype: int64

In [127]:
#Question 11
#Create a dataframe that satisfy the following requirements
peanut_list = ['Bailey', 'Sullivan', 'Wynne', 'Emery', 'Bailey II', 'N14023']
locationList = ['LEW', 'RMT'] #Lewiston and Rocky Mount

In [128]:
peanut_pivot=peanut_data.pivot_table(values='Yield', index=['NC_Accession','Location'])
peanut_pivot.head()
#but this is puling data from what year? how to index that I want Yield from 2017?

                         Yield
NC_Accession  Location
ACI WT09-0761 LEW       2733.0
              RMT       3085.0
              WHI       3085.0
ACI WT11-0351 LEW       4632.0
              RMT       3226.0

In [131]:
NCSU_release = peanut_pivot[(peanut_pivot['NC_Accession']== 'Bailey', 'Sullivan', 'Wynne', 'Emery', 'Bailey II', 'N14023')
                            &(peanut_pivot['Location']== 'LEW', 'RMT')]
#I have tried many ways and can't make the multiple selection work. Would like to pass a list to select on

KeyError: 'NC_Accession'

In [ ]:
# Question 12
#If Q11 had worked
NCSU_release.to_excel('NCSU_release.xlsx', index=False, sheet_name='test')